/* Estilos generales para el cuerpo de la página */
body {
            padding-top: 70px;
            background-color:skyblue;
        }
/* Estilo para elementos que indican bajo inventario */
        .low-stock {
            background: #fff3cd !important;
        }

        .cursor-pointer {
            cursor: pointer;
        }

        .table-responsive {
            max-height: 60vh;
            overflow: auto;
        }

        .card-stats {
            min-width: 12rem;

        }
